<h3 align="center">Your Shipping Address</h2>
<br>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form"}) do |f| %>
  
    <div class="form-group">
      <%= f.label "Name", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :shipto_name, class: "form-control" %>
      </div>
    </div>
  

    <div class="form-group">
      <%= f.label "Street Address", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :line1, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "City", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "State", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Zip code", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Country", class: "col-sm-4 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :country, class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="form-group">
      <%= f.label :current_password, class: "col-sm-4 control-label" %> <i>(we need your current password to confirm your changes)</i>
        <div class="col-sm-5">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
    </div>
    
    <div align="center"><%= f.submit "Update your shipping information", class: "btn btn-success" %></div>
  <% end %>
