<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<center>
  <div class="preferences-form" align="left">
    <h2 align="center">Your Account Information</h2>
    <br>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form"}) do |f| %>
        <%= devise_error_messages! %>
  
          <div class="form-group">
            <%= f.label "First Name", class: "col-sm-4 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :fname, autofocus: true, class: "form-control" %>
            </div>
          </div>
  
        <div class="form-group">
          <%= f.label "Last Name", class: "col-sm-4 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :lname, class: "form-control" %>
          </div>
        </div>
  

      <div class="form-group">
        <%= f.label :email, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
  
      <br>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-4 control-label" %> <i>(leave blank if you don't want to change it)</i>
          <div class="col-sm-5">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      

      <div class="form-group">
        <%= f.label :current_password, class: "col-sm-4 control-label" %> <i>(we need your current password to confirm your changes)</i>
        <div class="col-sm-5">
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <br>

      <div align="center"><%= f.submit "Update your account", class: "btn btn-default" %></div>
    <% end %>
    </div>


  <br>

  <div class="preferences-form" align="left">
    <%= render "addresses" %>
  </div>

  <br>


  <div class="preferences-form" align="center">
    <h3>I want to cancel my account</h3>

    <p><%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%# link_to "Back", :back %>
  </div>
</center>