<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<h2>Your Account Information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label "First Name" %><br />
  <%= f.text_field :fname, autofocus: true %></div>
  
  <div><%= f.label "Last Name" %><br />
  <%= f.text_field :lname %></div>
  
  <br>

  <div><%= f.label :email %><br />
  <%= f.email_field :email%></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <br>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    
<!--     <h3>Your Shipping Information</h3>
    
    <div><%= f.label "Name" %><br />
    <%= f.text_field :shipto_name %></div>
  
    <div><%= f.label "Street Address" %><br />
    <%= f.text_field :line1 %></div>

    <div><%= f.label "Address Line 2" %><br />
    <%= f.text_field :line2 %></div>
  
    <div><%= f.label "City" %><br />
    <%= f.text_field :city %></div>
  
    <div><%= f.label "State" %><br />
    <%= f.text_field :state %></div>
  
    <div><%= f.label "Zip code" %><br />
    <%= f.text_field :zipcode %></div>
  
    <div><%= f.label "Country" %><br />
    <%= f.text_field :country %></div> -->
    
    <br>

  <div>***<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <br>

  <div><%= f.submit "Update" %></div>
<% end %>

<hr>

<%= render "addresses" %>

<hr>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
