<center>
  <div class="preferences-form" align="left">
    <h2 align="center">Sign up</h2>
    
    <br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label "First Name", class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :fname, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Last Name", class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :lname, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
  
      <br>

      <div class="form-group" align="center">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    <% end %>

    <br>

    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</center>