<center>
  <div class="measurements" id="<%= user.id %>">
    <form role="form" class="measurements-form" align="left">
    
      <h2 align="center">Your Measurements</h2>
      
      <hr>

      <div class="alert alert-danger hidden"></div>
    
      <input type="hidden" name="measurements[user_id]" value="<%= user.id %>">
      
      <fieldset>
        <div class="meas-row row-fluid clearfix">
          <legend>General Body</legend>
        
          <div class="meas-block-left">
            <h3><label for="height">Height</label></h3>
            
            <input type="hidden" name="measurements[height]"/>
            <div class="slider-text" id="height_amt"></div>
      
            <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="height-slider" data-target="height" aria-disabled="false">
              <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 45.83333333333333%;"></a>
            </div>
        
            <br>
      
            <div class="slider-scale">
              <div class="indexes"></div>
              <div class="slider-labels">
                <span class="slider-label min-label">5 FEET</span>
                <span class="slider-label max-label">7 FEET</span>
              </div>
            </div>
          </div>
          
          <div class="meas-block-right">
            <h3><label for="height">Weight</label></h3>
            
            <input type="hidden" name="measurements[weight]"/>
            <div class="slider-text" id="weight_amt"></div>
      
            <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="weight-slider" data-target="weight" aria-disabled="false">
              <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 45.83333333333333%;"></a>
            </div>
        
            <br>
      
            <div class="slider-scale">
              <div class="indexes"></div>
              <div class="slider-labels">
                <span class="slider-label min-label" id="weight_min"> LBS</span>
                <span class="slider-label max-label" id="weight_max"> LBS</span>
              </div>
            </div>
            
            <div style="clear:both;"></div>
          </div>
        </div>
        
        <div class="meas-row row-fluid clearfix">
          <legend>Upper Body</legend>
          
          <% UPPER_BODY.map(function(type) { %>
            <div class="meas-block-<%= pos %>">
              <h3><label for="<%= type %>"><%= type %></label></h3>
            
              <input type="hidden" name="measurements[<%= type %>]"/>
              <div class="slider-text" id="<%= type %>_amt"></div>
      
              <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="<%= type %>-slider" data-target="<%= type %>" aria-disabled="false">
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 45.83333333333333%;"></a>
              </div>
        
              <br>
      
              <div class="slider-scale">
                <div class="indexes"></div>
                <div class="slider-labels">
                  <span class="slider-label min-label" id="<%= type %>_min"> INCHES</span>
                  <span class="slider-label max-label" id="<%= type %>_max"> INCHES</span>
                </div>
              </div>
            
              <div style="clear:both;"></div>
            </div>
          
          <% if(pos === "right") { pos = "left" } else { pos = "right" } %>
        <% }) %>
      </div>
      
      </fieldset>
      
      <div align="center">  
        <% if(action === "create") { %>
          <button class="btn btn-default meas create-measures">Submit</button>
          <% } else { %>
            <button class="btn btn-default meas update-measures">Update</button>
            <% } %>
          </div>
        </form>
      </div>
    </center>