<h1>Your Shipping Address</h1>

<hr>

<form action="<%= user_addresses_url(@user) %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <!-- <input type="hidden" name="addresses[0][user_id]" value="<%= @user.id %>"> -->

  <input type="text" name="addresses[0][name]" value="<%=  @user.addresses[0].name %>" placeholder="Name"><br>
  
  <input type="text" name="addresses[0][line1]" value="<%=  @user.addresses[0].line1 %>" placeholder="Street address"><br>
  
  <input type="text" name="addresses[0][line2]" value="<%=  @user.addresses[0].line2 %>" placeholder="Address line 2"><br>
  
  <input type="text" name="addresses[0][city]" value="<%=  @user.addresses[0].city %>" placeholder="City"><br>
  
  <input type="text" name="addresses[0][state]" value="<%=  @user.addresses[0].state %>" placeholder="State"><br>
  
  <input type="text" name="addresses[0][zipcode]" value="<%=  @user.addresses[0].zipcode %>" placeholder="Zip code"><br>
  
  <input type="text" name="addresses[0][country]" value="<%=  @user.addresses[0].country %>" placeholder="Country"><br>

  <p><input type="submit" value="Update"></p>
</form>