<center>
  <form role="form" align="left" class="item-form <%= action === "edit" ? "" : "new-item-form" %>" data-id="<%= item.id %>">
    <% if(action === "edit") { %>
      <h1 align="center"><legend>Edit Item</legend></h1>
    <% } else { %>
      <h1 align="center"><legend class="lg">Create A New Item</legend></h1>
      
      <div class="alert alert-danger hidden create-errors" data-id="<%= item.id %>">
        Invalid Attributes!
      </div>
    <% } %>
    
  
    <div class="item-form form-group">
      
      
      <div class="alert alert-danger hidden edit-errors" data-id="<%= item.id %>"></div>
    
      <!-- Upload photo! -->
    
      <div class="form-group">
      <label>Name**</label>
        <input type="text" name="item[name]" class="form-control" id="name" value="<%= item.escape("name") %>" placeholder="Name" autofocus="autofocus">
      </div>
    
      <div class="form-group">
        <label>Brand**</label>
        <input type="text" name="item[brand]" class="form-control" id="brand" value="<%= item.escape("brand") %>" placeholder="Brand">
      </div>

      <div class="form-group">
        <strong>Clothing Type**</strong>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="jeans" checked>Jeans</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="pants" <%= item.get("item_type") === "pants" ? "checked" : "" %>>Pants</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="shorts" <%= item.get("item_type") === "shorts" ? "checked" : "" %>>Shorts</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="long-sleeves" <%= item.get("item_type") === "long-sleeves" ? "checked" : "" %>>Long-sleeves</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="polos-tshirts" <%= item.get("item_type") === "polos-tshirts" ? "checked" : "" %>>Polos and t-shirts</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="short-sleeves" <%= item.get("item_type") === "short-sleeves" ? "checked" : "" %>>Short-sleeves</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="sweaters-vests" <%= item.get("item_type") === "sweaters-vests" ? "checked" : "" %>>Sweaters and vests</label><br>
        </div>
        <div class="radio">
          <label><input type="radio" name="item[item_type]" id="item_type" value="jackets-blazers" <%= item.get("item_type") === "jackets-blazers" ? "checked" : "" %>>Jackets and blazers</label><br>
        </div>
        <!-- <div class="radio">
          <label><input type="radio" name="item[item_type]" id="ties-belts" value="ties-belts">Ties and belts</label><br>
        </div> -->
      </div>

      <div class="form-group">
        <label>Intro</label>
        <textarea class="form-control" rows="3" name="item[intro]" class="form-control" id="intro" value="<%= item.escape("intro") %>" placeholder="Intro"><%= item.escape("intro") %></textarea>
      </div>

      <div class="form-group">
        <label>Details**</label>
        <textarea class="form-control" rows="3" name="item[details]" class="form-control" id="details" value="<%= item.escape("details") %>" placeholder="Details"><%= item.escape("details") %></textarea>
      </div>

      <div class="form-group">
        <label>Wear it with...</label>
        <textarea class="form-control" rows="3" name="item[wear_it_with]" class="form-control" id="wear_it_with" value="<%= item.escape("wear_it_with") %>" placeholder="Wear it with..."><%= item.escape("wear_it_with") %></textarea>
      </div>

      <div class="form-group">
        <label>Price $**</label>
        <input type="number" step="0.01" min="0" name="item[price]" class="form-control" id="price" value="<%= item.escape("price") %>" placeholder="Price">
      </div>

      <% if(action === "edit") { %>
        <div class="form-group">
         <strong>In Stock?</strong>
          <div class="radio">
            <label><input type="radio" name="item[in_stock]" id="in_stock" value="true"<%= item.get("in_stock") === "true" ? "checked" : "" %>>Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="item[in_stock]" id="in_stock" value="false"<%= item.get("in_stock") === "false" ? "checked" : "" %>>No</label>
          </div>
        </div>
      <% } %>
  
    </div>

    <div align="center">
      <% if(action === "edit") { %>
        <button type="submit" class="edit-item btn btn-default">Update</button> <button type="submit" class="cancel-edit-item btn btn-default">Cancel</button>
      <% } else { %>
        <button type="submit" class="new-item btn btn-default">Create</button>
      <% } %>
    </div>
  
  </form>
</center>