<div class="item-block">
  <!-- picture left aligned, name on right? -->
  <h4>
    <a href="#"><%= item.escape("name") %></a>
    <!-- above is link to modal -->
  </h4>
</div>


<!-- MODAL STUFF -->
<h3><%= item.escape("name") %></h3>
<hr>
<ul>
  <li>User rating: <%= item.escape("rating") %></li>
  <% if(item.orders().length > 0) { %>
    <li>Number of user purchases: <%= iteam.orders().length %></li>
  <% } %>
</ul>

<% if(order) { %>
  <p>Your Order Details:</p>
  <ul>
    <li>Shipping date: <%= order.escape("ship_date") %></li>
    <li>Size: <%= order.escape("size") %></li>
    <li>Order placed: <%= order.escape("created_at") %></li>
  </ul>
<% } %>

<p>Brand: <%= item.escape("brand") %></p>

<ul>
  <li><%= item.escape("intro") %></li>
</ul>

<p>Details</p>

<ul>
  <li><%= item.escape("details") %></li>
</ul>

<p>Wear it with...</p>
<ul>
  <li><%= item.escape("wear_it_with") %></li>
</ul>

<% if(!item.escape("in_stock")) { %>
  <p>Sorry, this item is out of stock.</p>
<% } %>

<!-- ADMIN EDIT ACCESS ONLY!!!! -->
 <div class="edit-item-container">
    <div class="edit-item-link-container" data-item-id="<%= item.id %>"><a href="#" class="edit-item-link">Edit</a></div>
    <div class="edit-item-form" id="<%= item.id %>">
    </div>
  </div>
</div>