<h1>Your Shipping Address</h1>

<hr>

<form action="<%= shipping_user_url(@user) %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <!-- <input type="hidden" name="addresses[0][user_id]" value="<%= @user.id %>"> -->

  <input type="text" name="addresses[0][name]" value="<%= @addresses[0].name %>" placeholder="Name">
  
  <input type="text" name="addresses[0][line1]" value="<%= @addresses[0].line1 %>" placeholder="Street address">
  
  <input type="text" name="addresses[0][line2]" value="<%= @addresses[0].line2 %>" placeholder="Address line 2">
  
  <input type="text" name="addresses[0][city]" value="<%= @addresses[0].city %>" placeholder="City">
  
  <input type="text" name="addresses[0][state]" value="<%= @addresses[0].state %>" placeholder="State">
  
  <input type="text" name="addresses[0][zipcode]" value="<%= @addresses[0].zipcode %>" placeholder="Zip code">
  
  <input type="text" name="addresses[0][country]" value="<%= @addresses[0].country %>" placeholder="Country">

  <p><input type="submit" value="Update"></p>
</form>