<center class="devise-container">
  <div class="preferences-form" align="left">
    <br>
    <form action="<%= new_user_session_url %>" method="post" accept-charset="utf-8">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
      <input type="hidden" name="user[email]" value="test@test.com" id="email">
      <input type="hidden" name="user[password]" value="testing123" id="password">

    <p align="center"><button type="submit" class="btn btn-info btn-lg btn-block" role="button">Click to sign in as guest user</button></p>
    </form>
    
    <br>
    
    <h2 align="center">Sign in</h2>
    <br>

    <%= form_for(resource, as: resource_name, html: { class: "form-horizontal", role: "form" }, url: new_user_session_path) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-4 control-label" %>
        <div class="col-sm-5">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    
        <% if devise_mapping.rememberable? -%>
          <div class="form-group" align="center">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group" align="center">
          <%= f.submit "Sign in", class: "btn btn-success" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</center>

<script type="text/javascript" charset="utf-8">
  $(".preferences-form").delay(1).animate({ opacity: 1 }, 700);
</script>