<h3>Your Shipping Information</h3>

<!-- Addresses index show page -->

<div class="addresses">
  <ul>
    <% addresses.each(function(address) { %>
      <li><%= address.escape("name") %></li>
      <li><%= address.escape("line1") %></li>
      <% if(address.escape("line2")) { %>
        <li><%= address.escape("line2") %></li>
      <% } %>
      <li><%= address.escape("city") %></li>
      <li><%= address.escape("state") %></li>
      <li><%= address.escape("zipcode") %></li>
      <li><%= address.escape("country") %></li>
    <% }) %>
  </ul>
</div>