<!DOCTYPE html>
<html>
<head>
  <title>Closet++</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/#/" class="navbar-brand"><i class="fa fa-columns">Closet++</i></a>
      </div>
        
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="I don't work yet">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            
          <!-- ADD NEW ITEMS LINK ONLY FOR ADMINS! -->
          <li><a href="/#/items/new">Add New Items</a></li>
          <li><a href="/#/items">Clothes</a></li>

          <li class="dropdown">  
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About You <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/#/measurements">Measurements</a></li>
              <li><a href="/#/style">Style</a></li>
              <!-- <li><a href="/#/photo">Photo</a></li> -->
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <center><li role="presentation" class="dropdown-header"><%= current_user.fname %> <%= current_user.lname %></li></center>
              <li class="divider" role="presentation"></li>
              <li><a href="/users/edit">Account Information</a></li>
              <li><a href="/#/preferences">Subscription Preferences</a></li>
              <li><a href="/#/">Order History</a></li>
              <!-- <li><a href="#">Billing Info</a></li> -->
              <li class="divider"></li>
              <li><%= link_to "Log Out", destroy_user_session_url, method: :delete %></li>
            </ul>
          </li>
          <% else %>
            <li><a href="<%= new_user_session_url %>">Log In</a></li>
            <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <center class="root-alerts">
    <div class="subscription-warning animated fadeIn">
      <% if current_user %>
        <% if current_user.preferences %>
          <% if current_user.preferences.subscription == "paused" %>
            <div class='alert alert-warning'>Your subscription status is currently paused. <a href="/#/preferences">Click here</a> to change your subscription preferences or check out the <a href="/#/items">inventory</a>!
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          <% end %>
        <% end %>
      <% end%>
    </div>
    
    <div class="errors animated bounceInRight">
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <div class='temp-alert alert alert-danger alert-dismissable'><%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        <% end %>
      <% end %>
      <% if flash[:notice] %>
        <div class='temp-alert alert alert-success alert-dismissable'><%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
    </div>
  </center>

  <center class="root-center">
    <div id="root-content" class="container" align="left">
      
      <!-- <center class="root-alerts">
        <div class="subscription-warning animated fadeIn">
          <% if current_user %>
            <% if current_user.preferences %>
              <% if current_user.preferences.subscription == "paused" %>
                <div class='alert alert-warning'>Your subscription status is currently paused. <a href="/#/preferences">Click here</a> to change your subscription preferences or check out the <a href="/#/items">inventory</a>!
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
              <% end %>
            <% end %>
          <% end%>
        </div>
    
        <div class="errors animated bounceInRight">
          <% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
              <div class='temp-alert alert alert-danger alert-dismissable'><%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            <% end %>
          <% end %>
          <% if flash[:notice] %>
            <div class='temp-alert alert alert-success alert-dismissable'><%= flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          <% end %>
        </div>
      </center> -->
      
      <%= yield %>
    </div>
  </center>

  <script type="text/javascript" charset="utf-8">
    window.setTimeout(function() { $(".temp-alert").alert('close'); }, 4000);
    
    // var intval = null;
    // var pos = 0;
    // 
    // $(document).ready(function() {
    //   intval = window.setInterval(moveBg, 30);
    // });
    // 
    // function moveBg() {
    //   pos++;
    //   $(".moving-bg").css({backgroundPosition: (pos * 1) + "px 0px"});
    // }
    
    $('.moving-bg').mousemove(function(e){
        var amountMovedX = (e.pageX * -1 / 40);
        var amountMovedY = (e.pageY * -1 / 40);
        $(this).css('background-position', amountMovedX + 'px ' + amountMovedY + 'px');
    });
    
  </script>
</body>

<footer>
  <center>
    <strong>Closet++</strong> | Grace Do, 2014.
  </center>  
</footer>

</html>
